.container {
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    border-radius: 12px;
    background: linear-gradient(180deg, #01aed2 40%, #ff9900);
    padding-bottom: 10px;
}

h1 {
    font-size: 2rem;
    color: #363232;
}

.top-bar {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 20px;
}

.top-bar input {
    display: flex;
    width: 150px;
    height: 30px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 20px;
    color: grey;
    font-size: 16px;
    font-weight: 300;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;

}

.search-icon img {
    align-self: center;
    width: 30px;
    height: 30px;
    /* padding: 0; */
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}


.weather-image {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.weather-image img {
    width: 85px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
}

.weather-temp {
    display: flex;
    justify-content: center;
    color: yellow;
    font-size: 23px;
    font-weight: 400;
}

.weather-location {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

.data-container {
    margin-top: 30px;
    display: flex;
    color: #fff;

}

.element {
    margin: auto;
}

.element img {
    width: 35px;
}

.data {
    font-size: 23px;
    font-weight: 400;
}

.text {
    font-size: 16px;
    font-weight: 400;
}

.icon {
    margin-top: 10px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

@media (max-width: 768px) {
  .container{
    width: 270px;
    height: 400px;
    margin: auto;
  }

}